

.blogbutton {
    position: absolute;
    top: 0;
    right: 100px;
    background-color:#ffffff;
    -moz-border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -khtml-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    font-weight:bold;
}
.blogbutton a {
    color: #888888;
    text-decoration: none;
}
.blogbutton a:hover {
    color: #e85809;
    text-decoration: underline;
}

.container{
	margin-bottom: 60px;
}

.content{
	margin-left: 0;
	margin-top: 20px;
	float: left;
}

.content p {
    font-size: 14px;
    color: #333333;
}

.content ul {
    margin: 16px 22px 8px 30px;
}

.content li {
    font-size: 14px;
}

.content h3.title{
/*	background: #B7B7B7;*/
    border-bottom: 3px solid #b74507;
/*	padding-left: 10px;*/
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333333;
}
.content .title a {
    color: #333333;
}

.content h2 {
    font-size: 18px;
    color: #555555;
}

.content h3 {
    font-size: 16px;
    color: #555555;
}

.sidebar h4 {
    color: #555555;
}

.centerblock{
    width: 660px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.content .page-header h3 {
	color: white;
}

ul.features{
    display: inline;
    font-size: 16px;
    list-style: none;
    line-height: 160%;
    float: left;
    color: #333333;
}

ul.features li{
    background: url('assets/tick.png') 0px 3px no-repeat;
/*    padding-left: 35px;*/
    padding: 8px 0 8px 35px;
    text-align: left;
}

#bottom_page{
	clear: both;
	padding-top: 40px;
}

.sidebar{
	margin-top: 20px;
	float: right;
}

.sidebar h6{
	line-height: 18px;
	font-size: 14px;
}

#bottom_page ul p{
	padding: 0 14px;
	line-height: 34px;
	margin-bottom: 0;
	display: inline;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.content code{
	background-color: #6C6C6C;
	color: #ffffff;
	font-weight: bold;
	padding: 0 4px;
}

a {
    color: #444444;
}
a:hover {
    color: #444444;
    text-decoration: underline;
}

.clear { clear: both; }

.featured {
	line-height: 18px;
	color: gray;
	font-weight:bold;
	font-size:1.4em;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:0; text-align: center;}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:2px solid #CCCCCC; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border:none; border-bottom: 2px solid #333; }
#mc_embed_signup .button {clear:both; background-color: #b7b7b7; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:inline; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px; background: #333333;}
#mc_embed_signup input.button {display:inline; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
#mc_embed_signup{
    clear:left; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    padding-right: 10px;
}

#header {
    background: #e85809;
    border-bottom: 3px solid #b74507;
}
#header h1 {
    font-size: 40px;
    letter-spacing: -2px;
    color: #333333;
    text-decoration: none;
    margin: 0;
    margin-left: -98px;
}

.group {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}
.left {
    width: 460px;
    float: left;
}
.right {
    width: 460px;
    float: right;
}
#headline {
    background: #ffffff;
    position: relative;
    color: #888888;
    margin: 20px 0;
}
#headline h1 {
    color: #333333;
    margin: 0;
}
#headline h1 .behave {
    color: #e85809;
}
#headline h3 {
    color: #333333;
}
#behave-strap {}
#features {
    background: #F2F2F2;
    position: relative;
    padding: 20px 0;
}

#footer {
    border-top: 3px solid #666666;
    background: #333333;
}
#footer h3 {
    color: #EEEEEE;
}
#feedback {
    margin-right: 10px;
    width: 400px;
    float: left;
    border-right: 1px dotted #666666;
}
#corporate {
    margin-right: 10px;
    width: 400px;
    float: left;
    border-right: 1px dotted #666666;
    color: #CCCCCC;
}
#social {
    width: 138px;
    float: right;
}

#features a {
    color: #E85809;
}
